.items {
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 800px;
    height: 400px;
    background-size: cover;
    opacity: 0.6;
}

.container {
    position: relative;
    text-align: center;
    color: white;
    width: 800px;
    margin-right: auto; 
    margin-left: auto;
}

.top-left {
    position: absolute;
    top: 8px;
    left: 16px;
    font-size: 20px;
    text-shadow: 0 0 3px black;
}

.bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
}
  
.centered {
    position: absolute;
    top: 70px;
    left: 25%;
    transform: translate(-50%, -50%);
    text-shadow: 6px 6px 6px 6px black;
}