p.MuiTypography-root.MuiTypography-body2.MuiTypography-colorTextSecondary.MuiTypography-alignCenter {
    margin-top: 20px;
    margin-bottom: 20px;
}

.footer {
    position: fixed;
    left: 
    0;
    bottom: 0;
    width: 100%;  
    background-color: #0D2949;
    color: #FEAD6F;
    text-align: center;
}