.addIcon {
    color: green; 
}

svg.MuiSvgIcon-root.addIcon {
    font-size: 35px;
}

/* local hover */
.MuiPaper-root.makeStyles-paper-12.MuiPaper-elevation1.MuiPaper-rounded {
    background-color: whitesmoke;
}

.options:hover {
    transform: scale(1.25) !important;
    transition-duration: 0.5 !important;
}

.MuiPaper-root.makeStyles-paper-12.MuiPaper-elevation1.MuiPaper-rounded:hover {
    transform: scale(1.03) !important;
    transition-duration: 0.5 !important;
}

.MuiPaper-root.makeStyles-paper-12.MuiPaper-elevation1.MuiPaper-rounded:hover {
    background-color:white;
    transition-duration: 0.5 !important;
}

/* deployed hover */
.MuiPaper-root.jss12.MuiPaper-elevation1.MuiPaper-rounded {
    background-color: whitesmoke;
}

.MuiPaper-root.jss12.MuiPaper-elevation1.MuiPaper-rounded:hover {
    background-color:white;
    transition-duration: 0.5;
}

.MuiPaper-root.jss12.MuiPaper-elevation1.MuiPaper-rounded:hover {
    transform: scale(1.03) !important;
    transition-duration: 0.5 !important;
}
/* ===================== */

svg.MuiSvgIcon-root.makeStyles-img-14:hover {
    transition-duration: 0.5;
    animation: rotation 4s infinite linear;
}

h5.MuiTypography-root.MuiTypography-h5.MuiTypography-gutterBottom {
    margin-bottom: 0;
}

/* svg.MuiSvgIcon-root.MuiSvgIcon-colorPrimary:hover {
    transform: scale(1.25) !important;
    transition-duration: 0.5 !important;
}

.deleteIcon:hover {
    transform: scale(1.25) !important;
    transition-duration: 0.5 !important;
}

svg.MuiSvgIcon-root:hover {
    transform: scale(1.25) !important;
    transition-duration: 0.5 !important;
} */

/* svg.MuiSvgIcon-root:hover {
    transform: scale(1.25);
    transition-duration: 0.5;
} */

li.MuiButtonBase-root.MuiListItem-root.MuiMenuItem-root.MuiMenuItem-gutters.MuiListItem-gutters.MuiListItem-button {
    padding-bottom: 0;
    padding-top: 0;
}

.MuiGrid-root.MuiGrid-container.MuiGrid-spacing-xs-1.MuiGrid-item.MuiGrid-direction-xs-column.MuiGrid-grid-xs-true {
    flex-direction: inherit;
}

li.MuiButtonBase-root.MuiListItem-root.MuiMenuItem-root.MuiMenuItem-gutters.MuiListItem-gutters.MuiListItem-button {
    padding-bottom: 5px;
    padding-top: 5px;
}

li.MuiButtonBase-root.MuiListItem-root.MuiMenuItem-root.MuiMenuItem-gutters.MuiListItem-gutters.MuiListItem-button:hover {
    transform: scale(1.10);
    transition-duration: 0.5;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}