.MuiPaper-root.makeStyles-paper-19.MuiPaper-elevation1.MuiPaper-rounded {
    background-color: whitesmoke;
}

.MuiPaper-root.makeStyles-paper-19.MuiPaper-elevation1.MuiPaper-rounded:hover {
    transform: scale(1.03);
    transition-duration: 0.5;
}

.MuiPaper-root.makeStyles-paper-19.MuiPaper-elevation1.MuiPaper-rounded:hover {
    background-color:white;    
    transition-duration: 0.5;
}

.options:hover {
    transform: scale(1.25) !important;
    transition-duration: 0.5 !important;
}