.makeStyles-root-11 {
    display: inline-block;
    margin: 20px
}

.addIcon {
    color: green; 
}

svg.MuiSvgIcon-root.addIcon {
    font-size: 45px;
}

.MuiPaper-root.makeStyles-paper-12.MuiPaper-elevation1.MuiPaper-rounded {
    border-radius: 20px;
}