.MuiFormControl-root {
    margin: 10px !important;
}

button.MuiButtonBase-root.MuiButton-root.MuiButton-contained.MuiButton-containedPrimary.Mui-disabled.Mui-disabled {
    width: 110px;
    margin-left: 40%;
    margin-right: 25%;
    margin-top: 10px
}