.MuiFormControl-root {
    margin: 15px !important;
}

button.MuiButtonBase-root.MuiButton-root.MuiButton-contained.MuiButton-containedPrimary.Mui-disabled.Mui-disabled {
    width: 110px;
    margin-left: 40%;
    margin-right: 25%;
    margin-top: 20px;
}

button.MuiButtonBase-root.MuiButton-root.MuiButton-contained.MuiButton-containedPrimary {
    display: inline-block !important;
    margin: 15px !important;
}
