.MuiFormControl-root {
    margin: 15px !important;
}

.FormGrid {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 1px -1px, rgba(0, 0, 0, 0.14) 0px 1px 1px 0px, rgba(0, 0, 0, 0.12) 0px 1px 3px 0px;
    background: white; 
}

button.MuiButtonBase-root.MuiButton-root.MuiButton-contained.MuiButton-containedPrimary.Mui-disabled.Mui-disabled {
    margin-left: 40%;
    margin-right: 25%;
    margin-top: 20px;
}

.FormButtons {
    display: inline-block !important;
    margin: 15px !important;
}